.top {
  margin-bottom: 50px;
  &__items{
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // margin-bottom: 50px;
  }
  &__itemsX2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    column-gap: 80px;
    row-gap: 50px;
  }
}
